* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

body {
    background-color: beige;
}

#playArea {
    display: none;
}

.playerChoice {
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
}

#startGame, #play {
    background-color: #92ffbb;
}

#playerName {
    font-size: 2rem;
}

#message {
    white-space: nowrap;
}